services:
  prometheus:
    image: prom/prometheus:latest
    networks:
        - shortener-network
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "19090:9090"
    depends_on:
      shortener:
        condition: service_healthy